@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* * {
    border: 1px solid red;
    Pleeaaaseee.
}
*/
body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header, .hero, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    flex-shrink: 0;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

li {
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero {
    display: flex;
    justify-content: space-around;
}

.hero-head {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-photo {
    width: 200px;
    height: auto;
}

.links, .hero-text, .footer {
    font-size: 18px;
    color: #F9FAF8;
}

button, .action {
    font-family: Roboto, sans-serif;
    background-color: #3882F6;
    color: white;
}

.logo {
    width: 50px;
    height: auto;
}

.hero-photo {
    width: 500px;
    height: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.information {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 40px;
}

.text {
    font-size: 18px;
    color: #1F2937;
}


.island-photo {
    width: 250px;
    height: auto;
    border: 5px solid #3882F6;
    border-radius: 25px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-style: light-italic;
    color: #1F2937;
}

.action {
    width: 50%;
}

.footer {
    text-align: center;
}
